<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Yay!</h1>
    <div>
      <%= @member_1.name %> and <%= @member_2.name %> will be a pair this week. Hang out, have fun, talk about interesting things. Reply to this email and set up a time and place to meet.
      <img src ="http://i.imgur.com/f25Vh.jpg" style="width:400px; height:400px;">
      aww...
    </div>
  </body>
</html>
