<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Yay!</h1>
    <div>
      <% if @member_1 && @member_2 %>
        <%= @member_1.name %> and <%= @member_2.name %> will be a pair this week. Hang out, have fun, talk about interesting things. Reply to this email and set up a time and place to meet.
      <% end %>
      <img src ="http://i.imgur.com/qhOgOBK.jpg" style="width:200px; height:200px;">
    </div>
  </body>
</html>
