.button-form {
  display: inline;
}

li {
  margin-bottom: 10px;
}

form.button_to{
  display: inline;
}

a.about {
  text-decoration: none;
}

a.about:hover {
  color: black;
}

.description {
  display: none;
}
