.button-form {
  display: inline;
}

li .btn{
  margin-top: 0;
}

form.button_to{
  display: inline;
}

a {
  text-decoration: none;
}

a:hover {
  color: black;
}

.description {
  display: none;
}

.members-list {
  display:none;
}

.btn {
  margin-top: 12px;
}

.members-list-expand {
  display: block;
}

form.button_to {
  display:inline-block;
}
