<!DOCTYPE html>
<html>
<head>
  <title>Pairmeup</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <h1>Pair Me Up</h1>
  <a href="#" class='about'><h3>How it works</h3></a>
  <div class='description'>
    <ol>
      <li>Create teams and add your members</li>
      <li>Every Friday at 5pm Pacific Time, members get an email, informing them who their pair is for that week.</li>
      <li>Your pair will be cc'd on that email. Simply reply to it and set up a time and place to hang out.</li>
      <li>Do some serious bonding with your pair. Talk about these amazing <a href="http://imgur.com/a/Jexvo" style="color:black; font-weight: bold;">animals</a> you've never heard of.</li>
    </ol>
  </div>
  <%= yield %>
</div>

</body>
</html>
